#navbar{
  z-index: 500;
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.wrapper
{
  margin-top: 55px;
}

#dp
{
  padding-top: 100px;
  border-radius: 50%;
}